<div id="statusupdatebox">
  <%= form_for @post, html: {multipart: true} do |f| %>
    <%= f.label :status %>
    <%= f.text_field(:status, size: 50) %>
    <%= f.submit %>
    <%= f.file_field :image %>
  <% end %>
</div>
<div>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div id="postbox">
        <div id="post">
          <%= image_tag post.image.url(:large) %>
          <div><%= post.status %></div>
        </div>
        <div id="functionsbar">
          <%=image_tag("likethumb.jpg", alt: "Like icon", width: "20")%>
          <%= link_to "like", post_likes_path(post), method: :post %>
          <%=image_tag("commenticon.jpg", alt: "Comment icon", width: "20")%>
          <%= link_to "Comment", new_post_comment_path(post) %>
          <%=image_tag("delete.jpg", alt: "Delete icon", width: "10")%>
          <%= link_to "Delete", post_path(post), method: :delete %>
        </div>
        <div id="peoplelike">
          <span class="likes_count"> <%= post.likes.count %> </span>
          <%= 'like'.pluralize(post.likes.count) %>
        </div>
        <% if post.comments.any? %>

          <% post.comments.each do |comment| %>
            <div id="commentsbox">
            <li>
              <%= comment.comment %>
                </li>
               </div>

          <% end %>
        <% else %>
          <div id="nocommentsbox">
            No comments.
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    No posts yet
  <% end %>
</div>